.Wallpapers {
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.img img {
    width: 100%;
    height: 700px;
}


@media (max-width: 992px) {
    .Wallpapers {
        margin-bottom: 60px;
        overflow: hidden;
    }

    .img img {
        width: 100%;
        height: 300px;
    }
}