.Wallpapers {
    margin-bottom: 60px;
    z-index: -1;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 800px;
}


@media screen and (max-width: 768px) {
    .Wallpapers {
        margin-top: 13em;
        margin-bottom: 60px;
        z-index: -1;
        overflow: hidden;
    }

    .img img {
        width: 100%;
        height: 300px;
    }
}