.MainContainer {
    display: flex;
    justify-content: center;
    background-image: url(../../assets/public/bannerformulary.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 50px 120px;
    border-radius: 24px;
}

.ContainerLogo {
    display: flex;
}

.Logo {
    height: 100px;
    width: 250px;
}

.Titles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 22px 0;
}