.MainContainer {
    display: flex;
    margin-top: 64px;
    align-items: center;
    justify-content: center;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    z-index: 1;
    position: fixed;
}

.Logo {
    display: flex;
    margin: 5px 0;
}

.Logo img {
    width: 110px;
    height: 110px;
}

.Buttons {
    display: flex;
    margin-left: 500px;
    gap: 24px;
}

.Nav {
    text-decoration: none;
    color: #673024;
    font-size: 16px;
    font-weight: 500;
}

.Nav:hover {
    text-decoration-line: underline;
    text-decoration-color: #b3513bd0;
    color: #b3513bd0;
    transition: ease-in 0.3s;

}